/*** Nav Bar ***/
.nav {
	background-color: #acd1e0; /* nav bar color */
	overflow: hidden; /* Contain links and clip any overflow */
}

/*** Nav Bar Links ***/
.nav a{
	float: left;	/* Stack links left*/
	padding: .5em 1em;
	text-decoration: none;  /* remove link underline */
	color: #8e8d7d;
  font-family: sans-serif;
	font-weight: bold;
}

/*** Nav Bar Links when Mouse Hovers ***/
.nav a:hover{
	background-color: #8e8d7d;
  color: #ffffff;
}

/*** Grid layout for graphs ***/
.col {
	display: inline-grid;
}

main {
	background-color: #8e8d7d;
	padding: 1em;
	color: #ffffff;
	font-family: sans-serif;
}

footer {
  background-color: #acd1e0;
  padding: 1em;
  color: #8e8d7d;
  font-family: sans-serif;
}

a {
	color: #8e8d7d
}

/*** RESPONSIVE STYLING ***/
@media screen and (max-width: 600px) {
	.nav a{
		float:none;
		font-size: 1.5em;
		display: block;
		width: 600px;
	}

  body {
		font-size: ;
	}
}
