<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}: Analysis Portfolio</title>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <!-- ==== START PAGE CONTAINER ==== -->
    <div class="container">
      <header role="banner">
        <nav role="navigation">
          {% block navigation %}
          <div class="nav">
            <a href="/">Home</a>
            <a href="/gameplay/">Gameplay</a>
            <a href="/music/">Music</a>
            <a href="/exercise/">Exercise</a>
          </div>
          {% endblock %}
        </nav>
      </header>
    </div>
    {% endblock %}
  </body>
  {% block main %}
  <!-- 2 row, 2 column grid -->
  <!--
  <div class="row">
    <div class="col">Item 1</div>
    <div class="col">Item 2</div>
  <div class="row">
    <div class="col">Item 1</div>
    <div class="col">Item 2</div>
  -->
  {% endblock %}
  <footer role="contentinfo">
    {% block footer %}
    <p>
      Brandon Knox is a Service Operations Analytics &
      Reporting Senior Specialist for a finance company.
      He is completing a degree in Computer Science from the
      <cite>University of Illinois at Springfield</cite>, and
      will graduate in May 2019.  Code for this site is located at
      <a href="https://github.com/bkdevart/web_portfolio">Brandon's GitHub</a>.
    </p>
    <p><small>&copy; 2019 Brandon Knox</small></p>
    {% endblock %}
  </footer>
</html>
