<!DOCTYPE html>
<html lang="en">
<!-- public vars for navigation -->
{% set navigation_bar = [
  ('/', 'index', 'Overview'),
  ('/gameplay/', 'gameplay', 'Gameplay'),
  ('/music/', 'music', 'Music'),
  ('/exercise/', 'exercise', 'Exercise')
  ] -%}
{% set active_page = active_page|default('index') -%}
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}: Analysis</title>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='base.css') }}">
    <!-- Bokeh includes-->
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
  </head>
  <body>
    <!-- ==== START NAVIGATION ==== -->
    <header role="banner">
    {% block navigation %}
      <ul class="navigation">
      {% for href, id, caption in navigation_bar %}
        <li><a href="{{ href|e }}"
          {% if id == active_page %}class="active"{% endif %}>
          {{ caption|e }}</a></li>
      {% endfor %}
      </ul>
    {% endblock %}
    </header>
  </body>
  <!-- ==== PAGE-SPECIFIC CONTENT ==== -->
  {% block main %}{% endblock %}
  <!-- ==== START FOOTER ==== -->
  <footer role="contentinfo">
    <p>
      Brandon Knox is a Service Operations Analytics &
      Reporting Senior Specialist for a finance company.
      He is completing a degree in Computer Science from the
      <cite>University of Illinois at Springfield</cite>, and
      will graduate in May 2019.  Code for this site is located at
      <a href="https://github.com/bkdevart/web_portfolio">Brandon's GitHub</a>.
    </p>
    <p><small>&copy; 2019 Brandon Knox</small></p>
  </footer>
</html>
