{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}Overview{% endblock %}

<!-- ==== START MAIN CONTENT ====-->
{% block main %}
<main role="main">
  <article class="goal">
    <h1 id="portfolio-goal">Overview</h1>
    <p>
      The goal of this site is to display my programmatic
      and analytical work.
      This site has been created from code
      written in HTML, CSS, and Python.
      Please use the navigation bar above to select different
      projects.

    </p>
  </article>
</main>
{% endblock %}
<!-- end main content -->
