{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}Goal{% endblock %}

<!-- ==== START MAIN CONTENT ====-->
{% block main %}
<main role="main">
  <article class="goal">
    <h1 id="portfolio-goal">Portfolio Goal</h1>
    <p>
      The goal of this site is to display my portfolio of
      analytical work.  This site has been created from
      code I've written in HTML, CSS, and Python.
      Please use the navigation bar above to select different
      projects.
    </p>
  </article>
</main>
{% endblock %}
<!-- end main content -->
